*{
    margin: 0;
    padding: 0;
    transition: color 0.5s ease, background-color 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(240, 211, 211);
}

::-webkit-scrollbar{
    display: none;
}